<h3>
  <%= @post.title %>
</h3>

<div>
  <%= raw(@post.text) %>
</div>
<%= if @active_user.id == @post.user_id do %>
  <%= link "Edit", to: post_path(@conn, :edit, @post) %>
  <%= link "Back", to: post_path(@conn, :index) %>
<% end %>
